*{
    box-sizing: border-box;
    font-family: 'arial', 'sans-serif';
    margin: 0;
}
#root{
    min-height: 100vh;
    background:linear-gradient(to right,#6AAED999 48%,#F2E205 52%);
    background-size: cover;
}
.container{
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    text-decoration: none;
}
@media (min-width:576px){
    .container{
        width: 540px;
    }
}
@media (min-width:768px){
    .container{
        width: 720px;
    }
}
@media (min-width:992px){
    .container{
        width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1140px;
    }
}

.header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.header h1{
    font-size: 52pt;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-weight: 900;
    color:#262473;
    letter-spacing: 0px;
}
@media (max-width:768px){
    .header h1{
        font-size: 34pt;
        text-transform: capitalize;
        letter-spacing: 5px;
        font-weight: 700;
        color:teal
    }
}

.cardsHolder{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 20px;
    width: 100%;
}
.card{
    height: 400px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px 20px;
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 10px;
}
.card h3{
    font-size: 24pt;
    color: #262473;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;
    max-width: 100%;
}
.card .date{
    font-size: 16pt;
    font-weight: 600;
    color: #f2a057;
    margin-bottom: 20px;
}
.card .icon{
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

.card .degree{
    font-size: 24pt;
    color: #262473;
    font-weight: bolder;
    margin-bottom: 10px;
}
.card .degree::after{
    content: '°K';
    font-size: 24pt;
    color: #262473;
    font-weight: bolde;
    margin-left: 5px;
}
.card p:last-child{
    font-size: 14pt;
    font-weight: 600;
    color: #f2a057;
}